*{
    /* box-sizing: border-box; */
    margin: 0;
}


.hero-section {
    /* Photo food */
    background: url('https://i.imgur.com/ZqNWjzb.jpg') center;
    background-size: cover;
    object-fit: none;
    height: 75vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-shadow: 3px 0px 10px 0px rgb(40, 48, 40);
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    align-items: center;
    position: relative;
}

.article {    
    display: flex;
    font-family: 'Kristi', cursive;
    font-weight: 200;
    color: black;
    font-size: 100px;
    font-style: none;
    align-items: flex-end;
    padding: 2rem;
}

.logo {
    display: flex;
    position:absolute; top:0; left:0;
    align-self: flex-start;
    filter: drop-shadow(8px 5px 5px black);
}
  
.container { 
    display: flex;
    align-self:flex-end;
    font-family: 'Arvo', serif;
    font-size: 35px;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
    text-decoration-color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

/* .nav-bar a {
    color: white;    
} */

/* .nav-bar a:hover {
    color: rgb(2, 27, 4);
    text-decoration: none; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-grow: 1; */
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
    align-content: center;
}

main h5 {
    font-size: 25px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

li {
    padding: 5px;
    font-size: 20px;
}

fieldset {
    display: block;
    margin: 20px 1%;
    margin-bottom: 20px;
    padding: 0 auto;
    padding: 15px 0;
    border: 0;
    border-top: 1px solid #DDD;
    width: 100%;
}

legend {
   display: table; 
   min-width: 0px;
   max-width: 100%;
   position: relative;
   margin: auto;
   padding: 5px 20px;
   color: rgb(249, 149, 0);
   font-size: 75px;
   text-align: center;
   font-family: 'Kristi', cursive;
}

p {
    font-family: 'Lato' sans-serif;
    font-size: 20px;

}

.subjects {
    color: rgb(249, 149, 0);
    font-size: 75px;
    text-align: center;
    font-family: 'Kristi', cursive;
}

.recipe-card {
    display: flex;
    flex-grow: inherit;
    padding: 3%;
    margin: 0 auto;
    background-color: rgb(245, 243, 243);
}

.rnd {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px gray ;
}

input[type=text] {
    border:2px solid rgb(249, 149, 0); 
    width: 100%;
    border-radius: 15px 50px;
    padding: 10px; 
    margin-left: 30px;
    width: 300px;
    height: 12px; 
}

input[type=text]:focus {
    border-color:#333;
}

.search-button {
    background-color: rgb(249, 139, 0);
    border: 0px solid;
    width: 75px;
    height: 40px;
    border-radius: 5px 25px;
    box-shadow: 5px 5px 5px gray ;
    margin-right: .5rem;
    color: white;
    outline-color: none;
    padding: .5rem .5rem;
}

.home-button {
    background-color: rgb(249, 139, 0);
    border: 0px solid;
    width: 70px;
    height: 50px;
    border-radius: 5px 25px;
    box-shadow: 5px 5px 5px gray ;
    margin-right: .6rem;
    color: white;
    outline-color: none;
    text-decoration: none;
    font-size: 35px;
    padding: .5rem .5rem;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.scl-button {
    background-color: rgb(55, 0, 255);
    border: 0px solid;
    width: 75px;
    height: 40px;
    border-radius: 5px 25px;
    box-shadow: 5px 5px 5px gray ;
    margin-right: .5rem;
    color: white;
    outline-color: none;
    font-family: 'Lato' sans-serif;
}

.scl-button:hover {
    color: rgb(249, 139, 0);
    text-decoration: none;
}