/* *{
    box-sizing: border-box;
    margin: 0;
} */


.hero-section {
    /* Photo food */
    background: url('https://i.imgur.com/ZqNWjzb.jpg') center;
    background-size: cover;
    height: 100vh;
    box-shadow: 3px 1px 10px 0px rgb(40, 48, 40);
    padding: 4rem 2rem;
    /* grid styles */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    align-items: center;
    position: relative;
  }

  .article {
    display: flex;
    font-family: 'Kristi', cursive;
    font-weight: 200;
    color: rgb(12, 27, 14);
    font-size: 60px;
    font-style: none;
    padding: 2rem;
    
  }

.logo {
    display: flex;
    align-self: flex-start;
    filter: drop-shadow(8px 5px 5px black);
}
  
.container { 
    display: flex;
    align-self: flex-end;
    font-family: 'Arvo', serif;
    font-size: 35px;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
    text-decoration-color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;

}

.nav-bar a {
    color: white;    
}

.nav-bar a:hover {
    color: rgb(2, 27, 4);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    flex-grow: 1;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
    align-content: center;

}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

footer h4 {
    display: flex;
    justify-content: center;
}