{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Ruslan+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Goblin+One&family=Kristi&family=Lato:wght@300;400&family=Open+Sans&family=Roboto&family=Ruslan+Display&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <header>
    <div class='hero-section' id='box'>
        <div class="overlay">
        <div class='logo'>
            <a href="https://imgur.com/K1mPNtL"><img src="https://i.imgur.com/K1mPNtL.png" title="source: imgur.com" /></a>
        </div>
        <div class="article">
                <p>Authentic...Nigerian...Yumminess...Period.</p> <br>
            </div>

            <div class='container'>
            </div>
        </div>
    </header> 
    <br>
{% block content %}
{% endblock %}

 <footer>      
     <br>
        <div class="social-container">
            <button type="button" class="scl-button">
            <i class="fab fa-facebook-f left"></i> Facebook</button>
            <!-- Twitter -->
            <button type="button" class="scl-button">
            <i class="fab fa-twitter left"></i> Twitter</button>
            <!-- Google + -->
            <button type="button" class="scl-button">
            <i class="fab fa-google-plus-g left"></i> Google +</button>
            </div> 
   <br>
         <p style='text-align: center;'> | Copyright &copy; 2021 | All Rights Reserved Mgbid-Eats - Tasha L. Egbuna</p>

</footer>
    
</body>
</html>