{% extends 'base.html' %}
{% block content %}
<main class='recipe-card'>

   <!-- <h1 class='subjects'>{{recipe.topic.title}}</h1> -->
      <!-- Section heading -->
   <h1 class="subjects" style='font-size: 120px; color: black;'>
      <strong>{{recipe.title}}</strong>
   </h1>
   <hr>

      <p> {{recipe.description|safe}}</p>

   <h1 class='subjects' >Ingredients:</h1>
      <p>{{recipe.ingredients|safe}}</p>

   <h1 class='subjects'>Directions:</h1>
      <p> {{recipe.directions|safe}}</p>

   <br>

   <h1>
      <a href="{% url 'index' %}" class='home-button'>Home</a>
   </h1>

</main>
<br>
{% endblock %}
