{% extends 'base.html' %}
{% block content %}
<main>
<!-- Intro Section -->
   <!-- <h1> -->
      <!-- <strong>You're welcome!</strong> -->
   <!-- </h1> -->
   <!-- <h5>
      {{ total_recipes }} Total | Nigerian Recipes
   </h5> -->

   <form action="{% url 'search' %}" method="get">
         <!-- Card header -->
      <fieldset style="border-radius: 5px;">
         <legend >
            Categories
         </legend>
         <!-- Card body -->
         <div>
            <ul>
               <!-- Material checked -->
               <li>
                  <input type="radio" class="form-check-input" value="on" id="breakfast" name="breakfast">
                  <label class="form-check-label" for="breakfast">Breakfast</label>
               </li>
               <li>
                  <input type="radio" class="form-check-input" value="on" id="appetizers" name="appetizers">
                  <label class="form-check-label" for="appetizers">Appetizers</label>
               </li>
               <li>
                  <input type="radio" class="form-check-input" value="on" id="lunch" name="lunch">
                  <label class="form-check-label" for="lunch">Lunch</label>
               </li>
               <li>
                  <input type="radio" class="form-check-input" value="on" id="dinner" name="dinner">
                  <label class="form-check-label" for="dinner">Dinner</label>
               </li>
               <li>
               <input type="radio" class="form-check-input" value="on" id="soups" name="soups">
               <label class="form-check-label" for="soups">Soups</label>
               </li>
               <li>
                  <input type="radio" class="form-check-input" value="on" id="dessert" name="dessert">
                  <label class="form-check-label" for="dessert">Dessert</label>
               </li>
            </ul>
         </div>
         <br>
         
         <div class='inputdiv'>
            <ul>
            <li>
               <input type="text" id="form51" class="form-control" style="border-radius: 5px; margin-right: 25px;" name="search">
            </li> <br>
            <li>
            <button class="search-button" type="submit" style='font-size: 12px;'> Get Recipes</button>
            </li>
            </ul>
         </div>
      </fieldset>
   </form>
</main>
{% endblock %}
   


